{% extends 'base.html.twig' %}

{% block title %}Liste des personnages{% endblock %}

{% block body %}
    <h1>Liste des personnages</h1>

    <table class="table table-hover">
        <thead>
            <tr class="text-center">
                <th>Kind</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Caste</th>
                <th>Knowledge</th>
                <th>Intelligence</th>
                <th>Life</th>
                <th>Creation</th>
                <th>Modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr class="text-center">
                <td>{{ character.kind =="Dame" ? ('<strong>'   ~  character.kind ~ '</strong>') | raw :      character.kind }}
                </td>
                <td>
                    <a href="{{ path('character_show', {'id': character.id}) }}">{{ character.name }}</a>
                </td>
                <td>{{ character.surname }}</td>
                <td>{{ character.caste }}</td>
                <td>{{ character.knowledge }}</td>
                <td>{{ character.intelligence }}</td>
                <td>{{ character.life }}</td>
                <td>{{ character.creation ? character.creation|date("d/m/Y") : '' }}</td>
                <td>{{ character.modification ? character.modification|date("d/m/Y") : '' }}</td>
                <td>
                    <a href="{{ path('character_edit', {'id': character.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="text-center">
            <a href="{{ path('character_new') }}" class="btn btn-default btn-primary">Nouveau Character</a>
        </div>
{% endblock %}
